body{
    background-color:#938E97;
}
div{
    width:20em;
    height:20em;
    border:2px solid black;
    border-radius: 100%;
    margin-right:auto;
    margin-left:auto;
}
ul{
    text-align:center;
}
a:link{
    color:inherit;
}
div:nth-child(7){
    background-color:#FF0000;
}
div:nth-child(7) ul{
    font-size:2em;
    color:#20CE0C;
}
div:nth-child(7) a{
    position: relative; /*changed from absolute*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
   /* Fix to make div clickable in IE */
    opacity: 0.4; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */  
}
div:nth-child(6){
    background-color:#FF6A00;   
}
div:nth-child(6) ul{
    color:#0C8CCE;
    font-size:2em;
}
div:nth-child(5){
    background-color:#FFE700;
}
div:nth-child(5) ul{
    color:#4F0DCC;
    font-size:2em;
}
div:nth-child(4){
    background-color:#00FF33;
}
div:nth-child(4) ul{
    color:#FF2200;
    font-size:2em;
}
div:nth-child(3){
    background-color:#007AFF;
}
div:nth-child(3) ul{
    color:#FF9400;
    font-size:2em;
}
div:nth-child(2){
    background-color:#2200FF;
}
div:nth-child(2) ul{
    color:#FFD200;
    font-size:1.5em;
}
div:nth-child(2) ul span{
    font-size:0.5em;
}
div:first-child{
    background-color:#5D00C7;
}
div:first-child ul{
    color:#C7BE00;
    font-size:2em;
}
