body{
    background-color: #FF0000;
    font-family:helvetica;
}
img{
    left:26%;
    display:block;
    position:absolute;
    z-index: -1;
    opacity:0.4
}
h1, ul, a{
    color:#90E686;
    text-align:center;
    padding:0;
    font-weight:600;
}
/*h1:first-child{
    color:#1AA50A;*/
}
div{
    margin:auto;
    width:10em;
}
ul{
    font-size:1.5em;
    margin-left:auto;
    margin-right:auto;
    max-width:50em;
}
ul{
    display:inline;
    /*As opposed to horizontal <ul> in my about me page*/
    /*This centered approach is one way to look at removing bullets, aside from changing list-style-type to none*/
}
li{
    font-weight:200;
}
